{% extends "core/base.html" %}
{% block content %}
<main class="flex-1">
  <section class="py-16 px-6 sm:px-10 bg-[#FDFBF9]">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-3xl sm:text-4xl font-bold text-center text-[var(--text-color)] mb-12">
        Product Categories
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

        {% for c in categories %}
        <a class="group" href="{% url 'shop:item' c.id %}">
          <div class="overflow-hidden rounded-xl shadow-sm bg-white">
            <div class="w-full aspect-[3/4] bg-center bg-no-repeat bg-cover 
                        rounded-xl transition-transform duration-300 group-hover:scale-105"
                 style='background-image: url("{{ c.image.url }}");'>
            </div>
          </div>
          <h3 class="text-center text-lg font-medium text-[var(--text-color)] mt-4">
            {{ c.name }}
          </h3>
        </a>
        {% endfor %}
        

      </div>
    </div>
  </section>
</main>
{% endblock %}
